*.elc

.emacs_secrets.el

tramp
recentf
bookmarks
projectile-bookmarks.eld
projectile.cache
.emacs-bmk-bmenu-state.el
org-gcal/
.org-id-locations
.mc-lists.el
ac-comphist.dat
mthesaur_cache.txt
eshell/
SessionDesktop.el
image-dired/
transient/
request/
reveal.js/
url/

straight/

yasnippet-snippets/
