*.elc

.emacs_secrets.el

tramp
recentf
bookmarks
projectile-bookmarks.eld
projectile.cache
.emacs-bmk-bmenu-state.el
org-gcal/
persist/
.cache/
.lsp-session-v*
.org-id-locations
.mc-lists.el
ac-comphist.dat
mthesaur_cache.txt
eshell/
SessionDesktop.el
image-dired/
transient/
smex-items
request/
reveal.js/
url/

org-roam.db

straight/
.vterm

elpy
